@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*,
::before,
::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button,
a{
    color:inherit;
    border:inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    border:none;
    background-color: transparent;
}

body{
   
    color:#0F231D;
    font-family: 'Inter', sans-serif;
    background-color: #FEF2E0;
}

.container{
 margin-top: 50px;
 margin-left: 50px;
 position: relative;
 padding:30px;
 width:100%;
 height:90vh;
 overflow-y:scroll;
}



.heading{
    border-bottom: 10px solid rgba(255, 255, 255, 0.125);
    padding-bottom: 20px;
}




.quote{
 margin:20px 0;
 font-size: 90px;
 font-weight: 500;
 
}


.author{
 background-color: #0F231D;
 color:#FEF2E0;
width: fit-content;
padding:10px 20px;
text-transform: uppercase;  
position: relative;
}

.author::before{
position: absolute;
content:'';
color:#0F231D;
height:10px;
width: 10px;
border:10px solid #FEF2E0;
border-bottom: 10px solid;
top:-20px;
left:10px;
}

.buttons-container{
    position: absolute;
    bottom:30px;
    width:90vw;
    margin:20px 0 0 80px;
    padding-top:20px;
    border-top:5px solid #0F231D;
    display: flex;
    justify-content: space-between;
}

.btn, .tweet{
    border-radius: 30px;
    border: 3px solid #FFAD26;
    padding:15px 30px;
    font-weight: bold;
    font-size: 20px;
}

.btn{
    background-color: #FFAD26;
}

.btn:hover, .tweet:hover{
    background-color: rgba(255, 255, 255, 0.125);
    cursor:pointer;
}


