@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*,
::before,
::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button,
a{
    color:inherit;
    border:inherit;
    font-family: inherit;
    text-decoration: none;
    border:none;
    background-color: transparent;
}

body{
    height:100vh;
    color:white;
    font-family: 'Inter', sans-serif;
    background-color: #A1A5A8;
}

.container{
 
    background-color: #E6E7EA;
    width:900px;
    margin:10% auto;
   
    padding:10px;
    text-align: center;
    border-radius: 10px;
}

.fact{
 /* margin-top: 50px; */
 font-size: 30px;
 color:#FCFFFE;
 border-radius: 5px;
 padding:20px;
 background-color: #606975;
}

.author{
    display: block;
    margin:30px;
}

.btn, .tweet{
    border-radius: 10px;

  
background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:10px 15px;
    font-size: 20px;
    font-weight: 500;
}
